.chatList {
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #FDE2F3;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}
    .chatList_profile {
        display: flex;
        justify-content: flex-end;
        margin: 5vh;
        font-size: 3vh;
    }
    .chatList_search {
        background: #C9EEFF;
        border-radius: 30px;
        margin: 1vw;
    }