.error {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 35vw;
}
    .error_caption {
        display: inherit;
        justify-content: center;
        font-size: 8vh;
        align-items: center;
        margin: 0;
    }
    .error_image {
        height: 80vh;
    }
    .error_home {
        position: absolute;
        right: 20vw;
        bottom: 2vh;
    }