@import './login.pcss';
@import './chatCard.pcss';
@import './chatList.pcss';
@import './chat.pcss';
@import './main.pcss';
@import './profile.pcss';
@import './error.pcss';
body {
    display: flex;
    background: #BFACE2;
    color: #3E54AC;
    font-family: 'Hubballi';
    font-style: normal;
    margin: 0;
}

a {
    text-decoration: none;
    color: #3E54AC;
}