<link rel="stylesheet" href="/src/partials/styles/styles.pcss">
<div class="login">
    <div class="login_caption">Sign in</div>
    <div class="login_content">
        <div>
            <p>login</p>
            <input type="text" class="input-text">
        </div>
        <div>
            <p>password</p>
            <input type="password" class="input-text">
        </div>
    </div>
    <div class="login_button">
        <div class="login_button-signIn">
            <a href="/src/partials/main.hbs">Sing in</a>
        </div>
        <div class="login_button-signIn">
            <a href="/src/partials/registration.hbs">Create account</a>
        </div>
    </div>
</div>
<img src="/src/img/signIn.png" alt="Hello" class="imageRight">