<div class="chatList">
    <a class="chatList_profile" href="/src/partials/profile.hbs">Profile</a>
    <input class="chatList_search" type="text" value="Search">
    {{> chatCard name='Lilo'}}
    {{> chatCard name='Nani'}}
    {{> chatCard name='David'}}
    {{> chatCard name='Kevin'}}
    {{!-- {{> chatCard name='Lilo'}}
    {{> chatCard name='Nani'}}
    {{> chatCard name='David'}}
    {{> chatCard name='Kevin'}} --}}
</div>