<div class="chat-card">
    <div class="chat-card_picture">
        {{!-- <img src="" alt="photo of a friend"> --}}
    </div>
    <div class="chat-card_text-content">
        <a class="chat-card_name" href="./sendMessage.hbs">{{name}}</a>
        {{!-- <div class="chat-card_name">{{name}}</div> --}}
        <div class="chat-card_last-message">{{lastMessage}}</div>
    </div>
</div>