<link rel="stylesheet" href="/src/partials/styles/styles.pcss">
<div class="profile">
    <div class="profile_caption">Profile</div>
    {{!-- <img class="profile_photo" src="../img/profilePhoto.png" alt="Avatar"> --}}
    <div class="profile_content">
        <p>first name</p>
        <input type="text" value="Stitch">
    <div class="profile_content">
        <p>second name</p>
        <input type="text" value="Experiment 626">
    </div>
    <div class="profile_content">
        <p>login</p>
        <input type="text" value="stitch">
    </div>
    <div class="profile_content">
        <p>email</b></p>
        <input type="text" value="stitsh@626.uni">
    </div>
    <div class="profile_content">
        <p>old password</p>
        <input type="text" value="*******">
        <p>new password</p>
        <input type="text" value="">  
    </div>
    <div class="profile_content">
        <p>phone</p>
        <input type="text" value="8 9090 673975">
    </div>
</div>
<div class="profile_button">
    <div class="profile_button-signIn">
        <a href="./main.hbs">Save</a>
    </div>
    <div class="profile_button-signIn">
        <a href="./profile.hbs">Return</a>
    </div>
</div>