<link rel="stylesheet" href="/src/partials/styles/styles.pcss">
<section>
<div class="profile">
        <div class="profile_caption">Profile</div>
        <img class="profile_photo" src="../img/profilePhoto.png" alt="Avatar">
        <div class="profile_content">
            <p>first name .... <b>Stitch</b></p>
        <div class="profile_content">
            <p>second name .... <b>Experiment 626</b></p>
        </div>
        <div class="profile_content">
            <p>login .... <b>stitch</b></p>
        </div>
        <div class="profile_content">
            <p>email .... <b>stitsh@626.uni</b></p>
        </div>
        <div class="profile_content">
            <p>password .... <b>*******</b></p>
        </div>
        <div class="profile_content">
            <p>phone .... <b>8 9090 673975</b></p>
        </div>
    </div>
    <div class="profile_button">
        <div class="profile_button-signIn">
            <a href="./profileChange.hbs">Change</a>
        </div>
        <div class="profile_button-signIn">
            <a href="./main.hbs">Return</a>
        </div>
    </div>
</section>
