<link rel="stylesheet" href="/src/partials/styles/styles.pcss">
<section>
    <div class="login">
        <div class="login_caption">Registration</div>
        <div class="login_content">
            <p>first name</p>
            <input type="text" class="input-text">
            <div class="login_content">
                <p>second name</p>
                <input type="text" class="input-text">
            </div>
            <div class="login_content">
                <p>login</p>
                <input type="text" class="input-text">
            </div>
            <div class="login_content">
                <p>email</p>
                <input type="text" class="input-text">
            </div>
            <div class="login_content">
                <p>password</p>
                <input type="text" class="input-text">
            </div>
            <div class="login_content">
                <p>phone</p>
                <input type="text" class="input-text">
            </div>
        </div>
        <div class="login_button">
            <div class="login_button-signIn">
                <a href="./main.hbs">Sing in</a>
            </div>
            <div class="login_button-signIn">
                <a href="./authorization.hbs">Return</a>
            </div>
        </div>
    </div>
    <img class="imageRight" src="/src/img/signUp.png" alt="Stitch">
    <img class="imageLeft" src="/src/img/signUp2.png" alt="Stitch">
</section>