<link rel="stylesheet" href="/src/partials/styles/styles.pcss">
<section>
    <div class="chatListLocation">
        {{> chatList }}
    </div>
    <div class="info">
        <a class="info_back" href="./main.hbs">Back</a>
        <div class="info_name">Lilo</div>
    </div>
    {{> message }}
    <input class="sendMessage" type="text" value="Enter your message...">
</section>
