<link rel="stylesheet" href="../partials/styles/styles.pcss">
 <div class="error">
    <h1 class="error_caption">500</h1>
    <h3>Ой... поломалось....</h3>
    <img class="error_image" src="/src/img/500.png" alt="404">
</div>
<a class="error_home" href="./main.hbs">Давай попробуем вернуться</a>

